<app-header />
<main class="main-container">
  <div class="wrapper">
    <div class="user-container">
      <ul>
        @for(user of users; track user.id) {
        <li>
          <app-user
            [user]="user"
            [isUserSelected]="user.id === userId"
            (select)="onSelectUser($event)"
          />
        </li>
        }
      </ul>
    </div>
    <div class="task-container">
      @if (selectedUser) {
      <app-tasks [user]="selectedUser" />
      } @else {
      <p>User not selected</p>
      }
    </div>
  </div>
</main>
