/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1,h2,h3,h4,h5,p, ul, li, menu {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
}
